@model miniwms.Models.Cargo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cargo</h4>
    <hr />
    <div class="col-sm-2">
        <a asp-action="GetPicture" asp-route-id="@Model.Id">
            <input type="submit" value="Add Picture" class="btn btn-outline-primary" />
        </a>
    </div>
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfPallet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfPallet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Damage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Damage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PieceCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PieceCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivingFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivingFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LotNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LotNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Urls)
        </dt>
        <dd>
            <div class="row">
                @foreach (var urlPath in Model.Urls)
                {
                    <div class="col">
                        <div class="card mt-5" style="width: 18rem;">
                            <img src="@urlPath.Url" class="card-img-top" alt="Cargo Photo">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of the card's content.</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>

</div>
