@model miniwms.Models.Cargo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cargo</h4>
<hr />
<div class="row">
    
    <div class="col-md-4">
              <div class="form-group">
                <a asp-action="GetPicture" asp-route-id="@Model.Id">
                <input type="submit" value="Add Picture" class="btn btn-primary" />
                </a>
            </div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
                <label asp-for="TypeOfPallet" class="control-label"></label>
                <select asp-for="TypeOfPallet" class="form-control">
                @foreach (string TypeOfPallet in Enum.GetNames(typeof(PalletType)))
                    {
                        <option>@TypeOfPallet</option>
                    }
                </select>
                <span asp-validation-for="TypeOfPallet" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="ProNumber" class="control-label"></label>
                <input asp-for="ProNumber" class="form-control" />
                <span asp-validation-for="ProNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Damage" /> @Html.DisplayNameFor(model => model.Damage)
                </label>
            </div>
                     <div class="form-group">
                <label asp-for="Shipment.Id" class="control-label">Shipment ID</label>
                <select asp-for="Shipment.Id" class="form-control">
                @foreach (Shipment Shipment in ViewBag.shipmentList)
                    {
                        <option value="@Shipment.Id">@Shipment.ShipmentNumber</option>
                    }
                </select>
                <span asp-validation-for="Shipment.Id" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Customer.Id" class="control-label">Customer</label>
                <select asp-for="Customer.Id" class="form-control">
                @foreach (Customer Customer in ViewBag.customerList)
                    {
                        <option value="@Customer.Id">@Customer.CustomerName</option>
                    }
                </select>
                <span asp-validation-for="Customer.Id" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="PieceCount" class="control-label"></label>
                <input asp-for="PieceCount" class="form-control" />
                <span asp-validation-for="PieceCount" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="ArrivingFrom" class="control-label"></label>
                <input asp-for="ArrivingFrom" class="form-control" />
                <span asp-validation-for="ArrivingFrom" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="LotNumber" class="control-label"></label>
                <input asp-for="LotNumber" class="form-control" />
                <span asp-validation-for="LotNumber" class="text-danger"></span>
            </div>  
            <div class="form-group">
                <label asp-for="Consignee" class="control-label"></label>
                <input asp-for="Consignee" class="form-control" />
                <span asp-validation-for="Consignee" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Marks" class="control-label"></label>
                <input asp-for="Marks" class="form-control" />
                <span asp-validation-for="Marks" class="text-danger"></span>
            </div>
                   
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            
        </form>
     
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
