@model miniwms.Models.Cargo

@{
    ViewData["Title"] = "Create";
}

<h1>Retrieving</h1>

<h4>Picture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostPicture" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <input type="hidden" value="@Model.Id" name="Id"/>
            <div class="form-group">
                <input type="file" name="PictureFile"/> 
            </div>
     
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
