@model miniwms.Models.Shipment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContainerNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContainerNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShipmentNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShipmentNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfItems)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfItems)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalVolume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalVolume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShipmentReceived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShipmentReceived)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                Cargo Id
            </th>
            <th>
                Type of Pallet
            </th>
            <th>
                Length
            </th>
            <th>
                Width
            </th>
            <th>
                Height
            </th>
            <th>
                Weight
            </th>
            <th>
                Damage
            </th>
            <th>
                Shipment
            </th>
            <th></th>
        </tr>
    </thead>


    <tbody>


        @foreach (Cargo Cargo in ViewBag.cargoList)
        {
            if (Cargo.Shipment?.ShipmentNumber == Model.ShipmentNumber)
            {
                <tr>
                    <td>
                        @foreach (Customer Customer in ViewBag.customerList)
                            if (Cargo.CustomerId == Customer.Id)
                            {
                                <a asp-controller="Customer" asp-action="Details"
                                    asp-route-id="@Cargo.CustomerId">@Customer.CustomerName</a>
                            }
                    </td>
                    <td>
                        <a asp-controller="Cargo" asp-action="Details" asp-route-id="@Cargo.Id">
                            @Cargo.Id
                        </a>
                    </td>
                    <td>
                        @Cargo.TypeOfPallet
                    </td>
                    <td>
                        @Cargo.Length
                    </td>
                    <td>
                        @Cargo.Width
                    </td>
                    <td>
                        @Cargo.Height
                    </td>
                    <td>
                        @Cargo.Weight
                    </td>
                    <td>
                        @Cargo.Damage
                    </td>
                    <td>
                        @Cargo.Shipment?.ShipmentNumber
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
